/*@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 780px) {
  .detailBox {
    flex-direction: column;
  }
  .inside #map-container {
    max-width: 800px;
  }
  #restaurant-hours {
    margin-bottom: 30px;
  }
}
